altgraph==0.17
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
idna==2.10
importlib-metadata==3.7.0
modulegraph==0.18
pycairo==1.20.0
PyGObject==3.38.0
pyinstaller-hooks-contrib==2020.11
requests==2.25.1
soupsieve==2.2
tqdm==4.58.0
urllib3==1.26.3
zipp==3.4.0
